body {
  background-image: url("../images/clouds.jpg");
}
/* Section 1 begins:  header; book; book-title; synopsis */
h1 {
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  color: navy;
  font-weight: 400;
  text-align: center;
  line-height: 112%;
  letter-spacing: .5px;
  width: 70%;
  padding-top: 14 px;
  margin-left: 9%;
}
.book {
  width: 20%;
  margin-left: 4%;
  margin-top: 2%;
  float: left;
}
.book-cover,
.book-title {
  width: 100%;
}
.book-cover {
  width: 98%;
}
.book-title {
  margin-top: 1%;
}
.synopsis h2 {
  font-size: 27px;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  margin-top: 2%;
}
.synopsis p {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #404040;
  line-height: 120%;
}
.synopsis {
  margin-top: 44%;
  background-color: #7bebd8;
  width: 80%;
  min-width: 100px;
  max-width: 600px;
  max-height: 400px;
  text-align: center;
  border-radius: 50%;
  padding: 2em 4em;
  float: left;
  font-family: 'Oswald', sans-serif;
}
/* Section 2 begins:  bio; bill-photo; kirkus; recliner */
.author {
  margin-top: 44%;
  background-color: #fcb5bc;
  width: 75%;
  min-width: 200px;
  max-width: 500px;
  max-height: 230px;
  text-align: center;
  border-radius: 50%;
  padding: 2em 4em;
  float: left;
}
.author h3 {
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-top: -4%;
}
.author p {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
.bill-photo {
  float: left;
  width: 20%;
  margin-top: -32%;
  margin-left: -3%;
}
.kirkus {
  float: left;
  margin-top: 5%;
  background-color: #ebffd5;
  min-width: 100px;
  max-width: 400px;
  max-height: 150px;
  text-align: center;
  border-radius: 50%;
  background: ;
  padding: 2em 4em;
}
.kirkus h3 {
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-top: -5%;
}
.kirkus p {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}
.recliner {
  width: 50%;
  z-index: 100;
  margin-top: -10%;
  margin-left: 38%;
}
/* Section 3 begins:  ballons; amazon reviews */
.amazon-balloons {
  width: 100%;
}
.balloons {
  float: right;
}
.balloons img {
  width: 100%;
}
.quotes {
  background-color: #2b4595;
  width: 14%;
  float: right;
}
.quotes h4 {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 4%;
  line-height: 115%;
  margin-top: 11%;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
}
.quotes p {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
  padding: 8%;
  margin-left: 2%;
  letter-spacing: 1px;
}
/* Section 4 begins:  email bar */
.email {
  display: block;
  width: 55%;
  background-color: #2b4595;
  text-align: right;
  display: inline;
  float: left;
  padding: 3px;
  margin-top: 5%;
}
h5 {
  font-size: 18px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
h6 {
  font-size: 18px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.icon {
  width: 43px;
  margin: 0 4px;
  vertical-align: middle;
}
