/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.nowrap {
  white-space: nowrap;
}
body {
  background-image: url("../images/clouds2.jpg");
  margin: 0;
}
.page-container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding-bottom: 12%;
}
/* Section 1 begins:  header; book; book-title; synopsis */
.opening-section {
  width: 100%;
}
.opening-section h1 {
  font-size: 27px;
  font-family: 'Oswald', sans-serif;
  color: navy;
  font-weight: 400;
  text-align: center;
  line-height: 112%;
  letter-spacing: .5px;
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5%;
}
.opening-section .book {
  width: 40%;
  margin: 0 auto;
}
.opening-section .book .book-cover,
.opening-section .book .book-title {
  width: 100%;
  margin-top: 24%;
}
.opening-section .book .book-cover {
  width: 98%;
}
.opening-section .book .book-title {
  margin-top: 1%;
  width: 95%;
  margin-left: 3%;
}
.opening-section .synopsis {
  margin: 0 auto;
  margin-top: 10%;
  background-color: #7bebd8;
  width: 80%;
  min-width: 120px;
  max-width: 775px;
  text-align: center;
  padding: 5% 10%;
}
.opening-section .synopsis h2 {
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  margin-top: 0%;
  margin-bottom: -3%;
  line-height: 122%;
}
.opening-section .synopsis p {
  font-size: .9em;
  font-family: arial, sans-serif;
  font-weight: 300;
  color: #404040;
  line-height: 120%;
  margin-top: 20px;
}
.opening-section .synopsis .ipad-break {
  display: inline;
}
.opening-section .synopsis .award {
  display: none;
}
/* Section 2 begins:  bio; bill-photo; kirkus; recliner */
.author {
  margin-top: 44%;
  background-color: #fcb5bc;
  margin: 0 auto;
  margin-top: 10%;
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  text-align: center;
  padding: 3em 2em;
}
.author h3 {
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-top: -4%;
  margin-bottom: -1%;
}
.author p {
  font-weight: 300;
  font-family: arial, sans-serif;
  font-size: 14.5px;
  color: #404040;
}
.author .spacer {
  width: 0;
  height: 4em;
  float: left;
}
.author .bill-photo {
  float: left;
  clear: left;
  width: 24%;
  margin: 0em 1em 0.5em 0;
  margin-top: 2%;
}
.kirkus {
  margin-top: 5%;
  background-color: #ebffd5;
  min-width: 200px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  border-radius: 50%;
  padding: 2em 4em;
  position: relative;
}
.kirkus h3 {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-top: -5%;
  margin-bottom: -1%;
}
.kirkus p {
  font-weight: 300;
  font-family: arial, sans-serif;
  font-size: 15px;
}
.kirkus .recliner {
  width: 50%;
  margin-bottom: -17%;
  margin-right: 2%;
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Section 3 begins:  balloons; amazon reviews */
.amazon-balloons {
  width: 100%;
  /* BEGIN BUTTON */
}
.amazon-balloons .balloons img {
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 24%;
}
.amazon-balloons .quotes {
  background-color: #2b4595;
  margin-bottom: 19%;
}
.amazon-balloons .quotes h4 {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 4%;
  padding-top: 5%;
  line-height: 115%;
  margin-top: 11%;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: -3%;
}
.amazon-balloons .quotes p {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  padding: 1em;
  margin: 0;
  margin-left: 2%;
  letter-spacing: 1px;
}
.amazon-balloons .quotes p.attribution {
  padding-top: 0;
  margin-top: -0.75em;
  text-align: right;
  font-style: italic;
}
.amazon-balloons .quotes p.availability {
  text-align: center;
  font-style: italic;
  padding-bottom: 7%;
}
.amazon-balloons .button-container {
  width: 100%;
  margin-top: -19%;
  margin-bottom: 8%;
  text-align: center;
}
.amazon-balloons .button {
  border-radius: 24px;
  padding: 12px 18px;
  margin: 10px;
  margin-left: 33%;
  cursor: pointer;
  text-align: center;
  line-height: 1.3;
  font-size: 12px;
  font-weight: 500;
  transition: all 100ms ease-in-out;
  whitespace: nowrap;
}
.amazon-balloons .button:hover {
  opacity: .9;
  transition: all 100ms ease;
}
.amazon-balloons .button.-border {
  background: #2b73d8;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
  font-family: sans-serif;
}
.amazon-balloons .button.-border:hover {
  background: #FFFFFF;
  border-color: #FFFFFF;
  color: #2b4595;
}
/* END BUTTON */
.award {
  text-align: center;
}
.award img {
  width: 80%;
  max-width: 400px;
  margin-top: 7%;
  margin-bottom: -6%;
}
/* Section 4 begins:  email bar */
.contact {
  display: block;
  width: 100%;
  background-color: #2b4595;
  text-align: center;
  display: inline;
  float: left;
  padding: 0.75em;
}
.contact h5 {
  margin: 0;
  font-size: 15px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
}
.contact h6 {
  margin: 0;
  font-size: 14px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  display: inline-block;
  vertical-align: middle;
}
.contact .email {
  display: block;
  white-space: nowrap;
}
.contact .icon {
  width: 43px;
  margin: 0 4px;
  vertical-align: middle;
}
/* FIRST BREAKPOINT */
@media screen and (min-width: 768px) {
  .page-container {
    padding-bottom: 8%;
  }
  .opening-section h1 {
    font-size: 40px;
    width: 95%;
    margin-left: 5%;
    margin-right: 0;
    padding-right: 260px;
  }
  .opening-section .book {
    width: 24%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: left;
    text-align: center;
  }
  .opening-section .book img {
    max-width: 225px;
  }
  .opening-section .synopsis {
    width: 61%;
    margin-right: 5%;
    float: left;
    font-size: 0.9em;
    margin-top: 7%;
    border-radius: 50%;
    padding: 2.5em 5em;
  }
  .opening-section .synopsis p {
    font-family: 'Lato', sans-serif;
    font-size: 16.5px;
  }
  .opening-section .synopsis .ipad-break {
    display: block;
  }
  .bio-kirkus .author {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -2%;
    border-radius: 50%;
    padding: 3em 4.5em;
    float: left;
  }
  .bio-kirkus .author .ipad-break {
    display: block;
  }
  .bio-kirkus p {
    font-family: arial, sans-serif;
    font-size: 17px;
  }
  .bio-kirkus .kirkus {
    width: 35%;
    margin-right: 5%;
    margin-top: 3%;
    float: left;
  }
  .bio-kirkus p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
  }
  .amazon-balloons {
    width: 66%;
    margin: 0 auto;
    margin-top: 10%;
  }
  .amazon-balloons .balloons {
    margin-top: -12%;
    position: absolute;
    top: 0;
    right: -1%;
  }
  .amazon-balloons .balloons img {
    width: 100%;
    margin: 0;
  }
  .amazon-balloons .quotes {
    margin-top: 10%;
    margin-bottom: 19%;
  }
  .amazon-balloons .quotes p {
    font-family: 'Oswald', sans-serif;
    font-size: 17.5px;
  }
  .button-container {
    margin-bottom: 30%;
  }
  .award img {
    width: 80%;
    margin-top: 2%;
    margin-bottom: -4%;
  }
  .contact h5 {
    font-size: 19px;
  }
  .contact h6 {
    font-size: 19px;
  }
  .contact .email {
    display: inline-block;
  }
}
/* SECOND BREAKPOINT */
@media screen and (min-width: 1280px) {
  .opening-section,
  .bio-kirkus {
    width: 80%;
    float: none;
    clear: none;
  }
  .opening-section h1 {
    font-size: 45px;
    padding-right: 0;
  }
  .opening-section .synopsis {
    position: relative;
  }
  .opening-section .synopsis p {
    font-family: 'Lato', sans-serif;
    font-size: 16.5px;
  }
  .bio-kirkus .author {
    padding: 3em 4.5em;
  }
  .bio-kirkus .author p {
    font-family: 'Lato', sans-serif;
  }
  .amazon-balloons {
    width: 15%;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 3%;
  }
  .amazon-balloons .balloons {
    position: relative;
    margin-top: -45%;
    width: 140%;
    margin-left: -20%;
  }
  .amazon-balloons .quotes {
    margin-top: 24%;
    padding: 4px;
    padding-bottom: 15px;
  }
  .amazon-balloons .quotes p {
    font-size: 15px;
  }
  .award {
    position: absolute;
    left: 2em;
    bottom: -3.25em;
    z-index: 100;
    width: 20%;
  }
}
